#products{
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #c9d1d9;
}

/* This changes the background color of the product list */

#products .contents {
    padding-bottom: 20px;
    /* background-color: #c9d1d9; */
    border-bottom: 2px;
    border-color: #121212;
}

#products .contents .headline {
    padding-bottom: 30px;
    padding-top: 20px;
    color: #121212;
}