#products{
    padding-top: 10px;
    padding-bottom: 30px;
    background-image: url(../../img/topography.png);
}

#products .contents {
    padding-bottom: 20px;
    padding-bottom: 40px;
}

#products .contents .headline {
    padding-bottom: 30px;
    padding-top: 35px;
    color: #121212;
}

.MuiTypography-root.headline {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

/***************** Responsive Design ********************/

/* iPad Pro Display */
@media (max-width: 1024px) {
    #products{
        padding-top: 0px;
    }
    
    #products .contents .headline {
        font-size: 41px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

/* iPad (normal) Display */
@media (max-width: 768px) {
    #products .contents .headline {
        font-size: 35px;
        padding-top: 25px;
    }
}

/* Surface Duo Display */
@media (max-width: 540px) {
    #products .contents .headline {
        text-align: center;
        padding-top: 15px;
    }
}

/* iPhone 6/7/8/ Plus Display */
@media (max-width: 414px) {
    #products .contents .headline {
        font-size: 30px;
        padding-top: 12px;
        padding-bottom: 10px;
    }
}

/* Galaxy S5 Display */
@media (max-width: 360px) {
    #products .contents .headline {
        font-size: 25px;
    }
}

/* Galaxy Fold Display */
@media (max-width: 280px) {
    #products .contents .headline {
        font-size: 21px;
    }
}