#products{
    padding-top: 10px;
    padding-bottom: 30px;
    /* background-color: #c9d1d9; */
    /* background-image: url(../../img/congruent_outline.png); */
    background-image: url(../../img/topography.png);
}

/* This changes the background color of the product list */

#products .contents {
    padding-bottom: 20px;
    /* background-color: #c9d1d9; */
    padding-bottom: 40px;
}

#products .contents .headline {
    padding-bottom: 30px;
    padding-top: 35px;
    color: #121212;
}

.MuiTypography-root.headline {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}