.MuiContainer-root.product-view {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
/* 
  background: red; */
}

.MuiGrid-root.product-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
  /* transition: all 0.5s ease-in-out; */
  box-shadow: 0px 0px 10px 0px #121212;
  border-radius: 15px;
  background-color: #c9d1d9;

}

.MuiGrid-root.image-wrapper img{
  width: 80%;
  height: auto;
  box-shadow: 0px 0px 10px 0px #121212;
}

.MuiGrid-root.image-wrapper {
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: blue; */
}

.MuiGrid-root.text {
  color: #121212;
  flex: 2;
  max-width: 100% ;
  display: flex;
  flex-direction: column;

  /* background-color: green; */
}

.MuiTypography-root.products-title {
  font-size: 2.5vw;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  align-self: center;
  flex: 1;

  /* background-color: royalblue; */
}

.MuiGrid-root.description-and-price {
  flex: 4;
}

.MuiTypography-root.products-description {
  font-size: 1vw;
  font-weight: 500;
  /* flex: 3; */

  /* background-color: purple; */
}

.MuiTypography-root.products-price {
  margin-top: 5vh;
  font-size: 1.25vw;
  /* flex: 1; */

  /* background-color: orange; */
}

.MuiGrid-root.quantity-change {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 50%;
  align-self: center;
  justify-content: space-evenly;
  border: 0.1vw solid black;
  border-radius: 45px;

  /* background-color: red; */
}

.MuiButton-root.increase-product-quantity {
  font-size: 1.5vw;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 65%;
  padding-right: 65%;
  line-height: 1;
  min-width: 0%;

  /* background-color: blue; */
}

.MuiTypography-root.quantity {
  font-size: 1.25vw;
  
  /* background-color: yellow; */
}

.MuiButton-root.decrease-product-quantity {
  font-size: 1.5vw;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 110%;
  padding-right: 110%;
  line-height: 1;
  min-width: 0%;

  /* background-color: blue; */
}

.MuiButton-root.add-to-cart {
  flex: 1;
  flex-basis: 0%;
  font-size: 1vw;
  min-width: 0%;
  box-shadow: 0px 0px 10px 0px #121212;
  background-color: #bb86fc;
  margin-top: 1%;
  transition: opacity 0.5s ease-in;

  /* background-color: skyblue; */
}

.MuiButton-root.add-to-cart:hover {
  background-color: #bb86fc;
  color: #ffffff;
  transition: opacity 0.5s ease-in;

  /* background-color: skyblue; */
}

.MuiButton-root.add-to-cart svg{
  font-size: 1.25vw;
}


 /* @media (min-width: 960px) {
  .MuiContainer-root.product-view {
    height: 88vh;
    margin: 40px 0 0;
  }
}  */