.banner {
  padding-top: 180px;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  background-color: #21262d;
  /* background-image: linear-gradient(to bottom right, #3d4a5d, #3d4a5d, #bb86fc); */
  background-image: linear-gradient(to bottom right, #4d004d, #cc00cc, #bb86fc,#66ffff, #ccffff);
  /* background-image: linear-gradient(to bottom right, #680880, #d119ff, #25eef5); */
}

.MuiTypography-root.title{
  color: #ffffff;
}

.banner > div > div {
  align-items: center;
}

.banner .brand {
  display: flex;
  align-items: center;
}

.banner .brand img {
  width: 100%;
}

.banner .title {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.banner a.shopping-button {
  color: #000000;
  background-color: #03dac5;
  
}

@media (min-width: 800px) {
  .banner .title {
    font-size: 65px;
  }
}