.banner {
  padding-top: 180px;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  background-color: #21262d;
  background-image: linear-gradient(to bottom right, #4d004d, #cc00cc, #bb86fc,#66ffff, #ccffff);
}

.MuiTypography-root.title{
  color: #ffffff;
}

.banner > div > div {
  align-items: center;
}

.banner .brand {
  display: flex;
  align-items: center;
}

.banner .brand img {
  width: 100%;
}

.banner .title {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.banner a.shopping-button {
  color: #000000;
  background-color: #03dac5;
}

/* iPad Pro Display */
@media (max-width: 1024px) {
  .banner {
    height: 400px;
    padding-top: 125px;
    width: 996px;
  }

  .banner > div > div {
    padding-left: 10px;
  }

  .banner .title {
    font-size: 41px;
    padding-left: 80px;
  }

  .banner a.shopping-button {
    margin-left: 80px;
  }
}

/* iPad (normal) Display */
@media (max-width: 768px) {
  .banner {
    height: 350px;
    width: 768px;
  }
  
  .banner .title {
    font-size: 35px;
  }
}

/* Surface Duo Display */
@media (max-width: 540px) {
  .banner {
    width: 540px;

    background-color: red;
  }
  
  .MuiTypography-root.title{
    
  
    background-color: green;
  }
  
  .banner > div > div {
    
    background-color: yellow;
  }
  
  .banner .brand {
    width: 250px;

    background-color: purple;
  }
  
  .banner .brand img {
    
  
    background-color: pink;
  }
  
  .banner .title {

  
    background-color: royalblue;
  }
  
  .banner a.shopping-button {
    
    
    background-color: sienna;
  }
}

/* iPhone 6/7/8/ Plus Display */
@media (max-width: 414px) {
  .banner {


    background-color: red;
  }
  
  .MuiTypography-root.title{
    
  
    background-color: green;
  }
  
  .banner > div > div {
    
    background-color: yellow;
  }
  
  .banner .brand {
  
    background-color: purple;
  }
  
  .banner .brand img {
    
  
    background-color: pink;
  }
  
  .banner .title {

  
    background-color: royalblue;
  }
  
  .banner a.shopping-button {
    
    
    background-color: sienna;
  }
}

/* iPhone 6/7/8/X and Smaller Display */
@media (max-width: 375px) {
  .banner {


    background-color: red;
  }
  
  .MuiTypography-root.title{
    
  
    background-color: green;
  }
  
  .banner > div > div {
    
    background-color: yellow;
  }
  
  .banner .brand {
  
    background-color: purple;
  }
  
  .banner .brand img {
    
  
    background-color: pink;
  }
  
  .banner .title {

  
    background-color: royalblue;
  }
  
  .banner a.shopping-button {
    
    
    background-color: sienna;
  }
}