/* .MuiAppBar-colorPrimary.custom-navbar{
    background-color: #ffffff;
}

.MuiAppBar-colorPrimary.custom-navbar > div > div {
    padding: 0;
}

.basket-wrapper{
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
}

.custom-navbar .custom-title{
    display: flex;
}

.custom-navbar .custom-title .logo{
    width: 200px;
    height: 130px;
}

.basket-wrapper .custom-basket{
    font-size: 45px;
    color: #bb86fc;
}

.basket-wrapper strong{
    color: #bb86fc;
}

.nav .MuiButton-label{
    color: #121212;
    margin-left: 50px;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Dancing Script', cursive;
}
.nav{
    margin-top: 25px;
    margin-left: 175px;
} */

/* iPad Pro View */
/* @media (max-width: 1024px) {
    .MuiAppBar-root.custom-navbar{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
    
    .custom-navbar .custom-title .logo{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 175px;
        height: 114px;
    }

    .basket-wrapper .custom-basket{
        margin-right: 40px;
    }

    .nav .MuiButton-label{
        font-size: 20px;
    }
    .nav{
        margin-left: 50px;
    }
} */

/* iPad (normal) view */
/* @media (max-width: 768px) {
    .basket-wrapper .custom-basket{
        margin-right: 30px;
    }

    .nav .MuiButton-label{
        font-size: 15px;
        margin-left: 30px;
        margin-right: 15px;
    }

    .nav{
        display: flex;
        flex-direction: row;
        margin-left: 0px;
    }
} */

/* Surface Duo */
/* @media (max-width: 540px) {
    .custom-navbar .custom-title .logo{
        width: 150px;
        height: 98px;
        margin-left: 20px;
    }

    .basket-wrapper .custom-basket{
        font-size: 40px;
    }

    .nav{
        display: none;
    }
} */

/* iPhone 6/7/8 Plus Display */
/* @media (max-width: 414px) {
    .custom-navbar .custom-title .logo{
        width: 125px;
        height: 81px;
        margin-left: 5px;
    }

    .basket-wrapper .custom-basket{
        font-size: 35px;
        margin-right: 20px;
    }
} */

/* iPhone 6/7/8/X and Smaller Display */
/* @media (max-width: 375px) {
    .basket-wrapper .custom-basket{
        margin-right: 5px;
    }
} */









.MuiAppBar-root.custom-navbar{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 13vh;
    position: absolute;

    /* background-color: blue; */
}

.dd-menu {
    width: 13vw;
    /* align-self: flex-start; */
    flex: 1;
    display: flex;

    background-color: red;
}

.dd-menu button {
    border: none;
}

.hamburger-menu {
    width: auto;
    height: 3vh;

    /* background-color: blue; */
}

.custom-title{
    height: 12vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;

    background-color: yellow;
}

.logo {
    width: auto;
    height: auto;
    background-color: #ffffff;

    background-color: orange;
}

.nav-div {
    display: none;
}

.basket-wrapper{
    display: flex;
    justify-content: center;
    width: 20vw;
    flex: 1;

    background-color: green;
}

.basket-wrapper .custom-basket{
    color: #bb86fc;
}

@media (min-width: 1000px) {
    .MuiAppBar-root.custom-navbar{
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        justify-content: space-around;
        height: 13vh;
        position: absolute;
    
        /* background-color: blue; */
    }
    
    .custom-title{
        height: 12vh;
        width: 25vw;
        display: flex;
        justify-content: center;
    
        /* background-color: yellow; */
    }
    
    .logo {
        width: auto;
        height: auto;
    
        /* background-color: orange; */
    }
    
    .dd-menu {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 13vw;
        display: none;
    
        /* background-color: red; */
    }
    
    .hamburger-menu {
        width: auto;
        height: 6vh;
        margin-left: 5vw;
    
        /* background-color: blue; */
    }
    
    .nav-div {
        width: 40vw;
        text-decoration: none;
    
        /* background-color: blue; */
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav li {
        list-style: none;
        font-size: 1.75vw;
    }
    
    .nav li a {
        text-decoration: none;
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
    }
    
    .basket-wrapper{
        display: flex;
        justify-content: center;
        width: 20vw;
    
        /* background-color: green; */
    }
    
    .basket-wrapper .custom-basket{
        font-size: 2.5vw;
        color: #bb86fc;
    }
    
}