.MuiAppBar-root.custom-navbar{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 13vh;
    position: absolute;
}

.dd-menu {
    width: 13vw;
    flex: 1;
    display: flex;
}

.dd-menu button {
    border: none;
}

.hamburger-menu {
    width: auto;
    height: 3vh;
}

.custom-title{
    height: 12vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
}

.logo {
    width: auto;
    height: auto;
    background-color: #ffffff;
}

.nav-div {
    display: none;
}

.basket-wrapper{
    display: flex;
    justify-content: center;
    width: 20vw;
    flex: 1;
}

.basket-wrapper .custom-basket{
    font-size: 8vw;
    color: #bb86fc;
}

@media (min-width: 720px) {
    .MuiAppBar-root.custom-navbar{
        width: 100vw;
        justify-content: space-around;
        height: 11vh;
    }
    
    .custom-title{
        height: 10vh;
        flex: 2;
    }
    
    .dd-menu {
        display: none;
    }
    
    .nav-div {
        display: block;
        width: 45vw;
        text-decoration: none;
        flex: 4;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
    }
    
    .nav li {
        list-style: none;
        font-size: 2.70vw;
    }
    
    .nav li a {
        text-decoration: none;
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
    }
    
    .basket-wrapper .custom-basket{
        font-size: 4.5vw;
    }
    
}

@media (min-width: 1000px) {
    .basket-wrapper .custom-basket{
        font-size: 4.25vw;
    }
}

@media (min-width: 1250px) {
    .MuiAppBar-root.custom-navbar{
        height: 13vh;
    }

    .custom-title{
        height: 12.5vh;
    }
    
    .nav li {
        font-size: 2.25vw;
    }
    
    .basket-wrapper .custom-basket{
        font-size: 3.75vw;
    }
}

@media (min-width: 1500px) {
    .nav li {
        font-size: 2vw;
    }
    
    .basket-wrapper .custom-basket{
        font-size: 3vw;
    }
}

@media (min-width: 1700px) { 
    .nav li {
        font-size: 2rem;
    }

    .basket-wrapper .custom-basket{
        font-size: 3rem;
    }
}

